* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 0 solid;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* NAVBAR */
header {
    border-bottom: 1px solid #ddd;
    background: #FEFEFE;
}

.navbar {
    margin: auto;
    padding: 18px 40px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #222;
}

.logo {
    font-size: 30px;
}

/* HERO */
.hero {
    max-width: 1200px;
    margin: auto;
    padding: 140px 40px 80px;   /* 🔥 THIS IS KEY */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1 {
    font-size: 38px;
    font-weight: bold;
}

.hero-text span {
    color: #0d6efd;
}

.hero-text p {
    margin: 10px 0 10px;
    color: #555;
}

.hero-text button {
    background: #0d6efd;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* HERO IMAGE */
.hero-img {
    text-align: right;
}

.hero-image img {
    width: 300px;               /* 🔥 bigger */
    padding: 20px;              /* 🔥 more oval look */
    border-radius: 50%;
    background: #d9e2ef;
    justify-self: end;
}

/* ABOUT */
.about {
    text-align: center;
    padding: 40px 20px 60px;    /* 🔥 closer to hero */
}

.about h2 {
    margin-bottom: 12px;
    font-size: 29px;
}

.about p {
    max-width: 940px;
    font-size: 17px;
    margin: auto;
    color: #555;
}

/* SKILLS */
.skills {
    text-align: center;
    padding: 60px 20px;
}

.skills h2 {
    margin-bottom: 12px;
    font-size: 28px;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, auto));
    gap: 18px;
    justify-content: center;
    margin-top: 25px;
}

.skill-box span {
    background: #fff;
    padding: 9px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
}

/* PROJECTS */
.projects {
    text-align: center;
    padding: 60px;
}

.projects h2 {
    margin-bottom: 12px;
    font-size: 29px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 25px;
    margin-top: 35px;
    justify-content: center;
}

.card {
    background: #fff;
    padding: 22px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.09);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)
}

/* CONTACT */
.contact {
    padding: 60px 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 420px;
    margin: auto;
    gap: 12px;
    text-align: left;
}

.contact input,
.contact textarea {
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact button {
    background: #0d6efd;
    color: #fff;
    padding: 10px;
    border: solid 1px #555;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #e0e0e0;
    font-size: 14px;
}
